#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen { zmk,kscan = &kscan0; };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "TESTER_DIRECT1";

        /* D2 = P0.18。bmp コネクタの gpio-map では "5" 割当 */
        input-gpios = <&bmp 5 GPIO_ACTIVE_LOW>;
    };
};

